FLASK_ENV=development
PORT=5000

SUPABASE_DB_HOST=tu-host
SUPABASE_DB_NAME=productos_super
SUPABASE_DB_USER=Eric-irarrazabal
SUPABASE_DB_PASSWORD=nosequeweaponer
SUPABASE_DB_PORT=5432

DATABASE_URL=postgresql://postgres:[nosequeweaponer]@db.qujbynmupicveyyinvya.supabase.co:5432/postgres